<div *ngIf="grupos$ | async as grupos" class="mat-elevation-z2" style="margin: 3px; padding: 3px;">
    <div style="display: flex; justify-content: space-between; font-weight:bolder;">
        <span *ngIf="filtro?.length > 0">{{filtrados}} de&nbsp;</span>
        <span>{{grupos.length}} Grupos em {{coluna}}</span>
        <span style="flex: 1 1 auto;"></span>
        <button (click)="setColunaStatus('Grupo')">Grp</button>
        <button (click)="setColunaStatus('Variável')">Var</button>
        <button (click)="setColunaStatus('Métrica')">Metr</button>
        <span>
            <input type="text" (keyup)="setFiltro($event.target.value)" placeholder="Filtrar Grupos" style="max-width: 100px;">
        </span>
        

    </div>
    <div class="container-table">
        <table matSort (matSortChange)="setSort($event)">
            <tr>
                <th mat-sort-header="nome" class="th1">Valor</th>
                <th mat-sort-header="quantidade">Qtde.</th>
                <th mat-sort-header="outliers">Outliers</th>
                <th mat-sort-header="media">Média</th>
                <th mat-sort-header="coef_var">Var%</th>
                <th>Filtro</th>
            </tr>
                <tr *ngFor="let grp of colunas_tabela">
                    <td class="coluna1">{{grp.nome}}</td>
                    <td>{{grp.quantidade}}</td>
                    <td>{{grp.outliers}}</td>
                    <td>{{grp.media}}</td>
                    <td>{{grp.coef_var}}</td>
                    <td>
                        <span (click)="setGrupoFiltro(grp, 1)" class="btn_filtro">
                            <mat-icon style="font-size: 18px; cursor:pointer">filter_alt</mat-icon>
                        </span>
                        <span (click)="setGrupoFiltro(grp, -1)">
                            <mat-icon style="font-size: 18px; cursor:pointer" class="btn_block">block</mat-icon>
                        </span>
                    </td>
                </tr>
        </table>
    </div>
</div>