<app-titulopagina [titulo]="titulo.texto" [icone]="titulo.icone" (atualiza)="refresh()"></app-titulopagina>

<mat-card *ngIf="entity$ | async as entity">

  <div *ngIf="estatistica">
    <div>
      <span class="subtitle-entity">Vigente: </span>
      <mat-form-field style="width: 160px;">
        <input matInput placeholder="Valor Médio" [value]="entity.valor | valor:entity.moeda" disabled>
      </mat-form-field>

      <mat-form-field style="width: 70px;">
        <input matInput placeholder="Coef. Variação" [value]="(entity.coef_var * 100) | valor:'&plusmn;':'%'" disabled>
      </mat-form-field>

      <mat-form-field style="width: 120px;">
        <input matInput placeholder="Data de Corte" [value]="entity.data_corte | date" disabled>
      </mat-form-field>

      <mat-form-field style="width: 120px;">
        <input matInput placeholder="Maior Data Ref." [value]="entity.maior_data_incluso | date" disabled>
      </mat-form-field>

      <mat-form-field style="width: 100px;">
        <input matInput placeholder="Qtde Inclusos" [value]="entity.qtde_inclusos" disabled>
      </mat-form-field>

      <mat-form-field style="width: 100px;">
        <input matInput placeholder="Qtde Expurgos" [value]="entity.qtde_expurgos" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput (dateChange)="setDataCorte($event.value)" [matDatepicker]="pickeratual"
          placeholder="Data de Corte" [(ngModel)]="entity.data_corte" [disabled]="isBlocked">
        <mat-datepicker-toggle matSuffix [for]="pickeratual"></mat-datepicker-toggle>
        <mat-datepicker #pickeratual></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Moeda</mat-label>
        <mat-select [(value)]="entity.moeda_atual" [disabled]="isBlocked"
          (selectionChange)="setMoedaAtual($event.value)">
          <mat-option *ngFor="let m_atual of (moedas$ | async)" [value]="m_atual">
            {{m_atual}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="chart-container">
    <canvas baseChart [datasets]="ChartData" [options]="graf.ChartOptions" [colors]="graf.ChartColors"
      [legend]="graf.ChartLegend" [chartType]="graf.ChartType" (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <br>
  <div>

    <button mat-raised-button *ngIf="!isBlocked" type="button" (click)="this.incluirTodas()" class="btn_acao">
      <i class="material-icons">add</i>
      Incluir Todos
    </button>

    <button mat-raised-button *ngIf="isBlocked" type="button" (click)="this.unblock()" class="btn_acao">
      <i class="material-icons">edit</i>
      Alterar
    </button>

    <button mat-raised-button *ngIf="!isBlocked" type="button" (click)="this.save()" class="btn_acao">
      <i class="material-icons">save</i>
      Salvar
    </button>

    <button mat-button *ngIf="!isBlocked" type="button" (click)="this.cancel()" class="btn_acao">
      <i class="material-icons">undo</i>
      Cancelar
    </button>

    <button mat-button *ngIf="isBlocked" type="button" (click)="this.voltar()" class="btn_acao">
      <i class="material-icons">undo</i>
      Voltar
    </button>

  </div>
</mat-card>
<br>
<div>
  <app-painelreferencia [dados]="referencias$ | async"></app-painelreferencia>
</div>