<ng-container *ngIf="grafico$ | async as grafico">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Gráfico
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>
    <div class="chart-container">
        <canvas baseChart [datasets]="ChartData" [options]="graf.ChartOptions" [colors]="graf.ChartColors"
            [legend]="graf.ChartLegend" [chartType]="graf.ChartType" (chartClick)="chartClicked($event)">
        </canvas>
    </div>

</ng-container>