.container-table {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

th {
    background-color: white;
    position: sticky;
    top: 0;
    border-color: gray;
    border-style: ridge;
    border-width: 2px 0px 2px 0px;
}

.th1 {
    left:0;
    z-index: 999;
}

.coluna1 {
    position: sticky;
    left: 0;
    background-color: white;
    border-color: gray;
    border-style: ridge;
    border-width: 0px 2px 0px 0px;
}

.btn_filtro {
    color: lightgreen;
    font-size: 18px;
    cursor:pointer;
    display: inline;
}

.btn_filtro:hover {
    color:green;
}

.btn_block {
    color: lightsalmon;
    font-size: 18px;
    cursor:pointer;
    display: inline;
}

.btn_block:hover {
    color: red;
}