th {
    background-color: white;
    top: 0;
    border-color: lightgray;
    border-style: ridge;
    border-width: 2px 0px 2px 0px;
}

.btn_filtro {
    color: lightgreen;
    font-size: 18px;
    cursor:pointer;
    display: inline;
}

.btn_filtro:hover {
    color:green;
}