<div class="example-box">
    <div class="chart-container" *ngIf="grafico$ | async as graf">
        <canvas *ngIf="graf.chartType == 'bar'" baseChart [datasets]="graf.datasets" [options]="graf.options"
            [legend]="graf.legend" [chartType]="graf.chartType" [labels]="graf.labels" (chartClick)="chartClicked($event)">
        </canvas>
        <canvas *ngIf="graf.chartType == 'bubble'" baseChart [datasets]="graf.datasets" [options]="graf.options"
        [legend]="graf.legend" [chartType]="graf.chartType" [colors]="graf.colors" (chartClick)="chartClicked($event)">
    </canvas>
    </div>

</div>