<ng-container *ngIf="colunas$ | async as colunas">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{colunas.length}}
                Colunas
            </mat-panel-title>
            <mat-panel-description>
                abc
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let col of colunas">
            <app-colunasdetalhe [coluna]="col"></app-colunasdetalhe>
        </ng-container>        
    </mat-expansion-panel>
</ng-container>